body {
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#main_cv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 65%;
    height: inherit
}


/* HEADER */

header {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 80px;
    justify-content: center;
    background-color: rgb(93, 133, 205);
}

#header_text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 87%;
}

#header_text a {
    text-decoration: none;
    color: white;
}

#header_text h2 {
    color: white;
    font-size: 1.8em;
}

#header_text p {
    color: white;
    margin: 0;
}

#header_text_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#header_img {
    width: 12%
}

#header_img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


/* MAIN */

main {
    width: 100%;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* FORMATION AND COMPETENCES */

#main_formation_competence {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 1000px;
}

.main_text_section {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main_header_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 10%;
    background-color: rgb(93, 133, 205);
}

.main_formation_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.main_competence_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    background-color: white;
}

.text_content p {
    margin: 0;
}

.text_content a {
    color: black;
}

.text_content h3 {
    margin: 0;
}

.text_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* EXPERIENCES */

#main_experiences {
    width: 40%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.main_experience_text_section {
    width: 81%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.experience {
    height: auto;
}

.experience a {
    text-decoration: none;
    color: black;
}

section .main_header_section {
    height: 6.25%;
}

@media screen and (max-width: 770px) {
    body {
        background-color: white;
    }
    #main_cv {
        height: 2000px;
        width: 100%;
    }
    header {
        height: 150px;
        margin-bottom: 70px;
    }
    #header_img {
        width: 25%;
    }
    #header_img img {
        width: 100%;
    }
    #header_text {
        margin-left: 4px;
    }
    main {
        flex-direction: column-reverse;
        height: 1800px;
    }
    #main_experiences {
        width: 100%;
        height: 50%;
    }
    .main_header_section {
        height: 50px
    }
    .main_competence_child .main_text_section {
        margin-top: 25px;
    }
    .main_experience_text_section {
        width: 85%;
        height: 800px;
    }
    #main_formation_competence {
        width: 100%;
        height: 800px;
    }
    .main_formation_child {
        justify-content: space-around;
    }
    .experience {
        height: auto;
    }
}

@media screen and (min-width: 771px) and (max-width: 1270px) {
    body {
        background-color: white;
    }
    #main_cv {
        height: 2000px;
        width: 100%;
    }
    header {
        height: 150px;
        margin-bottom: 70px;
    }
    #header_img {
        width: 10%;
    }
    #header_img img {
        width: 100%;
    }
    main {
        /* flex-direction: column-reverse; */
        height: 900px;
    }
    #main_experiences {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .main_header_section {
        height: 50px;
    }
    section .main_header_section {
        height: 50px;
        margin-top: -127px;
        border-left: 1px solid white;
    }
    .main_competence_child .main_text_section {
        margin-top: 25px;
    }
    .main_experience_text_section {
        width: 85%;
        height: 800px;
    }
    #main_formation_competence {
        width: 50%;
        height: 800px;
    }
    .main_formation_child {
        justify-content: space-around;
    }
    .experience {
        height: auto;
    }
}